
.grid2Col{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

@media(max-width:650px){
  .grid2Col{
    grid-template-columns: auto;
  }
}

.gridAnimais{
  grid-column: 4 /  -1;
  margin-top: 10px;
  gap: 30px;
}

.listaAnimais{
  height: 500px;
  overflow-y: scroll;
  width: fit-content;
}

.conteudoAnimais p{
  margin: 0px  0px 18px 0px;
  max-width: 50ch;
  font-size: 18px;
}

@keyframes ShowTop {
  from{
    opacity: 0;
    transform: translate3d(0,0 0);

  }
  to{
    opacity: 1;
    transform: translate3d(20px,40px 0px);
  }
  
  
}

.show-down{
  animation: 1s forwards ShowTop;
}