.tooltip{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  padding: 8px 16px;
  letter-spacing: 1px;
  outline: 8px solid #333;
  border: 3px solid #fb5;
  border-radius: 8px;
  width:fit-content;
  position: absolute;
  font-size: 20px
}

.contato-div{
  position: relative;
}