.tituloAnimais{
  margin-bottom: 30px;
  color: #E54;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.tituloAnimais::before{
  content: '';
  display: inline-block;
  width: 45px;
  height: 8px;
  background-color: #fb5;
}